In [2]:
import pandas as pd

In [15]:
df = pd.read_csv('C:\\Users\\dhruv\\JN\\nyc_weather.csv', parse_dates = ['EST'])
df.set_index('EST', inplace = True)
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

In [4]:
df['Temperature'].max()

50

In [5]:
df['Temperature'].mean()

34.67741935483871

In [7]:
df.tail(3)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

In [21]:
new_df = df.fillna(method='ffill') #alternate method 'bfill'
new_df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,8.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,8.0,0,1,Rain,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,Rain,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,Rain,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,Rain,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,Snow,312
2016-01-22,26,6,41,30.21,9,6.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,Snow,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,Snow,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,Rain,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,Rain,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,Rain,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,Rain,241

In [20]:
df['WindSpeedMPH'].mean()

6.892857142857143

In [22]:
new_df = df.interpolate(method="time")
new_df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.000000,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.000000,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.000000,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.000000,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.000000,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.000000,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.000000,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.000000,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.000000,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,7.333333,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,6.666667,0,1,NaN,289
2016-01-12,35,15,53,29.85,10,6.000000,T,4,NaN,235
2016-01-13,26,4,42,29.94,10,10.000000,0,0,NaN,284
2016-01-14,30,12,47,29.95,10,5.000000,T,7,NaN,266
2016-01-15,43,31,62,29.82,9,5.000000,T,2,NaN,101
2016-01-16,47,37,70,29.52,8,7.000000,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.000000,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.000000,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.000000,0,1,NaN,293
2016-01-20,32,15,49,30.13,10,6.000000,0,2,NaN,302
2016-01-21,31,11,45,30.15,10,6.000000,0,1,NaN,312
2016-01-22,26,6,41,30.21,9,11.000000,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.000000,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.000000,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.000000,0,2,NaN,286
2016-01-26,43,29,56,30.03,10,7.000000,0,2,NaN,244
2016-01-27,41,22,45,30.03,10,7.000000,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.000000,0,1,NaN,234
2016-01-29,36,21,50,29.58,10,8.000000,0,4,NaN,298
2016-01-30,34,16,46,30.01,10,7.000000,0,0,NaN,257
2016-01-31,46,28,52,29.90,10,5.000000,0,0,NaN,241

In [12]:
 df.shape()

TypeError: 'tuple' object is not callable

In [43]:
df[1:7]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293

In [48]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [50]:
df.Temperature

0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64